<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sl.shop.mapper.PurchaseOrderItemMapper">
	<select id="getPurchaseOrderItem" parameterType="PurchaseOrderItem"
		resultMap="org.sl.shop.mapper.ResultMap.purchaseOrderItemResultMap">
		SELECT
		purchaseorderitem.poiid,
		purchaseorderitem.poid,
		purchaseorderitem.cid,
		purchaseorderitem.num,
		purchaseorderitem.unitPrice,
		purchaseorderitem.sum,
		purchaseorderitem.comm,
		purchaseorderitem.poiDate,
		purchaseorder.poid,
		purchaseorder.bno,
		purchaseorder.spid,
		purchaseorder.sum,
		purchaseorder.poDate,
		purchaseorder.state,
		commodity.cid,
		commodity.cname,
		commodity.sales_price,
		commodity.about,
		commodity.path,
		commodity.state
		FROM
		purchaseorderitem
		INNER JOIN purchaseorder ON
		purchaseorderitem.poid = purchaseorder.poid
		INNER JOIN commodity ON
		purchaseorderitem.cid = commodity.cid
		<where>
			<if test="poiid != 0 and poiid != null">
				purchaseorderitem.poiid = #{poiid},
			</if>
			<if test="purchaseOrder != null">
				AND purchaseorderitem.poid = #{purchaseOrder.poid},
			</if>
			<if test="comm != null">
				AND purchaseorderitem.cid = #{comm.cid}
			</if>
			<if test="comm !=null and comm.cname != null and comm.cname != '' ">
				AND commodity.cname LIKE CONCAT(CONCAT('%',
				#{comm.cname}),'%')
			</if>
		</where>
	</select>

	<insert id="addPurchaseOrderItem" parameterType="PurchaseOrderItem">
		INSERT INTO
		purchaseorderitem
		(poid,cid,num,unitPrice,sum,poiDate)
		VALUES
		(#{purchaserOrder.poid},#{comm.cid},#{num},#{unitPrice},#{sum},#{poiDate})
	</insert>

	<update id="updatePurchaseOrderItem" parameterType="PurchaseOrderItem">
		UPDATE purchaseorderitem
		<set>
			<if test="comm != null">
				cid = #{comm.cid},
			</if>
			<if test="num ! = 0">
				num = #{num},
			</if>
			<if test="unitPrice != 0">
				unitPrice =#{unitPrice},
			</if>
			<if test="sum != 0">
				sum = #{sum},
			</if>
			<if test="poiDate != null">
				poiDate = #{poiDate}
			</if>
		</set>
	</update>
</mapper>