<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sl.shop.mapper.StockMapper">
	<select id="getStock" parameterType="Stock"
		resultMap="org.sl.shop.mapper.ResultMap.stockResultMap">
		SELECT
		stock.coid,
		stock.num,
		commodity.cid,
		commodity.cname,
		commodity.sales_price,
		commodity.about,
		commodity.path,
		commodity.state
		FROM
		stock
		INNER JOIN commodity ON stock.coid = commodity.cid
		<where>
			<if test="coid != 0">
				stock.coid = #{coid}
			</if>
			<if test="comm != null and comm.cname !=''">
				AND commodity.cname LIKE CONCAT(CONCAT('%',
				#{comm.cname}),'%')
			</if>
			<include refid="org.sl.shop.mapper.extra.range" />
		</where>
		<include refid="org.sl.shop.mapper.extra.orderby" />
	</select>

	<insert id="addStock" parameterType="Stock">
		INSERT INTO
		stock
		(cid,num)
		VALUES
		(#{comm.cid},#{num})
	</insert>

	<update id="updateStock" parameterType="Stock">
		UPDATE stock
		<set>
			<if test="comm != null and comm.id != 0">
				cid = #{comm.cid},
			</if>
			<if test="num != 0">
				num = #{num},
			</if>
		</set>
	</update>

    <delete id="deleteStock" parameterType="Stock">
        DELETE FROM stock WHERE coid = #{coid}
    </delete>
</mapper>