.tm-body{
	background: #363636;
	overflow-x: hidden;
}
/*自定义导航样式*/
.tm-sidebar{
	background: #363636;
	position: fixed;
	left: 0px;
	min-height: 100vh;
}
.tm-toggle-icon{
	color: #87888a;
	text-align: center;
	opacity: 1;
	-webkit-transition: opacity ease-in-out 0.3s;
	transition: opacity ease-in-out 0.3s;
}
.tm-sidebar i{
	font-size: 24px;
	margin: 0 25px 0 0;
}
.tm-sidebar-nav {
	background: #363636;
}
.tm-sidebar-nav ul{
	margin: 50px 0;
}
.tm-sidebar-nav ul li{
	float: none;
	width: 210px;
	margin: 20px 0;
}
.tm-sidebar-nav ul li.uk-active a,
.tm-sidebar-nav ul li a:hover{
	background: #363636;
	color: #fdfdfd;
}
.tm-sidebar-nav ul li a{
	font-size: 28px;
	color: #adadad;
}
/*二级菜单*/
.tm-sidebar-nav ul li.uk-open>a{
	color: #fdfdfd;
	background: #363636;
}
.tm-sidebar-nav ul li.uk-open div ul{

}
.tm-sidebar-nav ul li.uk-open div ul li a{
	color: #adadad;
}
.tm-sidebar-nav ul li.uk-open div ul li:hover a{
	background: #f5f5f5;
	color: #363636;
}
/*自定义导航样式结束*/
.tm-page{
	position: relative;
	left: 54px;
	-webkit-transition: left ease-in-out 0.3s;
	transition: left ease-in-out 0.3s;
	background: #ffffff;
	min-height: 100vh;
}
.tm-page:after{
	position: fixed!important;
}